a:visited {
    text-decoration: none;
    
}

a:hover {
    font-weight: bold;
    
}

.menu ul li{
    color: black;
    text-align: center;
    padding: 00.4%;
}

.texto-grande {
    font-size: 40px;
    text-align: center;
}

.texto-grande2 {
    font-size: 25px;
    text-align: center;
}

.texto-grande3 {
    font-size: 25px;
    text-align: center;
    border: 2px solid black;
}

.foto-nuestro-trabajo {
    font-size: 17px;
    width: 350px;
    border: 3px solid #181818;
    text-align: center;
    
}

.foto-trabajo {
    width: 350px;
    height: 250px;
}

footer {
    background-color:#181818;
}

.texto-footer {
    font-size: 13px;
    text-align: center;
    color: rgb(155, 155, 155);
}

.texto-footer2 {
    font-size: 15px;
    text-align: center;
    color: rgb(155, 155, 155);
    padding: 0.3%;
}

aside {
    text-align: center;
}

.articulo1 {
    text-align: center;
}

.logo {
    width: 250px;
}

.icono-menu {
    width: 35px;
}

.icono-redes {
    width: 40px;
    padding: 0.3%;
}

li {
    list-style-type: none;
}

#empresa {
    font-size: 20px;
    text-align: center;
    padding: 80px 280px;
}

#contacto {
    border: 2px solid black;
}

